---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<div class="container">
<div class="panel panel-primary">
  
    <div class="panel-heading">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">Show Date</h1>
  </div> 
  
   
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
    </div>
<div class="panel-body">
  <div class="post-content" itemprop="articleBody">
    {{ content }}

</div>
  </div>
  </div>
</article>



  


